.container {
  width: 1200px;
  height: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: gray;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    background-color: green;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    background-color: blue;
  }
}
