body {
  background-color: blue;
}

h1,
p {
  font-size: 24px;
}

@media (max-width: 480px) {
  body {
    background-color: red;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: yellow;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: green;
  }
}
