.container {
  display: flex;
}

header {
  width: 100vw;
  height: 50px;
  background-color: yellow;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}

aside {
  background-color: gray;
  width: 200px;
  height: 100vw;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: cyan;
  width: 100%;
  height: 100vw;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
