body {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container {
  width: 400px;
  height: 600px;
  background-color: green;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
}
