.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

header {
  width: 1200px;
  height: 75px;
  background-color: yellow;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid yellow;
  border-radius: 45px;
}

.logo {
  padding-left: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  gap: 20px;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
}

aside {
  background-color: gray;
  width: 200px;
  height: 100vw;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: cyan;
  width: 100%;
  height: 100vw;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: red;
  width: 100%;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
