.container {
  width: 100%;
  height: 100vw;
  background-color: gray;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    background-color: blue;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 60%;
    background-color: green;
  }
}
