body {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 350px;
  background-color: cyan;
  font-size: 24px;
}

.card p {
  padding: 0 20px;
}

.card button {
  width: 100%;
  font-size: 24px;
}
