body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: darkgrey;
  place-items: end stretch;
}

.container2 {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: darkgrey;
  justify-items: flex-start;
}

.container3 {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: darkgrey;
  align-items: center;
}

.item {
  background-color: green;
  font-size: 24px;
  border: 2px solid black;
}
