.container {
  width: 100vw;
  border-style: solid;
}

.box {
  width: 100px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.grow {
  background-color: blue;
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
