.container {
  width: 400px;
  height: 400px;
  border-style: solid;
  display: flex;
}

.box1,
.box2,
.box3 {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-style: solid;
  border-color: red;
}

.box2 {
  flex-shrink: 0;
}
