* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar navbar"
    "sidebar main ads"
    "footer footer footer";
}

nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: lightblue;
  padding: 1em;
}

aside {
  height: calc(100vh - 50.5px);
  top: 50.5px;
  position: sticky;
  align-self: flex-start;
  grid-area: sidebar;
  background-color: lightgray;
}

main {
  grid-area: main;
  margin: 20px 20px;
}

.ads {
  grid-area: ads;
  display: flex;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: orange;
  padding: 2em;
}

.stile {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "navbar"
      "main"
      "footer";
  }

  aside,
  .ads {
    display: none !important;
    visibility: hidden;
    position: static;
    height: 0;
  }

  footer {
    grid-area: footer;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "navbar navbar"
      "sidebar main"
      "sidebar footer";
  }

  .ads {
    display: none;
    visibility: hidden;
    position: static;
    height: 0;
  }
}
