.container {
  display: flex;
  border: 2px solid black;
  width: 400px;
  height: 400px;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

div#a {
  order: 2;
}
div#b {
  order: 4;
}
div#c {
  order: 1;
}
div#d {
  order: 3;
}
