.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}

.grande {
  grid-column: 2 / 4;
  grid-row: 1;
}
