.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 100px);
  background-color: darkgray;
  width: fit-content;
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}

.footer {
  grid-row: 3/-1;
  grid-column: 1/5;
}

.span {
  grid-column: span 2;
  grid-row: span 2;
}
