.container {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}
