.container {
  display: grid;
  background-color: darkgrey;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 200px 100px;
  gap: 15px;
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}
