body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: darkgrey;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 2px solid black;
  align-items: start;
  justify-items: start;
}

#centrato {
  align-self: center;
  justify-self: center;
}

#destra {
  align-self: self-end;
  justify-self: self-end;
}

.item {
  background-color: green;
  font-size: 24px;
  border: 2px solid black;
}
