body {
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  width: 50%;
  background-color: darkgray;
  border: 2px solid black;
}

input {
  width: 100%;
  padding: 10px 0;
}
