.media {
  display: flex;
  width: fit-content;
  gap: 20px;
  height: 500px;
  background-color: darkgray;
  justify-content: space-between;
}

img {
  width: 200px;
  height: 200px;
}

.media-body {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

span {
  padding: 10px 0;
}

p {
  text-align: center;
}
