.container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}

.header {
  grid-column: 1/4;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 2/3;
}

.content {
  grid-column: 2/4;
}
