body {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 500px;
  background-color: darkgray;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

button {
  width: 280px;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px 10px;
}

p {
  padding: 0 20px;
}
