.card-orizzontale {
  display: flex;
  background-color: darkgray;
}

img {
  width: 200px;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

p {
  padding: 0 20px;
}

button {
  width: 100%;
  font-size: 18px;
}
