body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.item {
  background-color: green;
  font-size: 24px;
  border: 2px solid black;
}
