.container {
  display: grid;
  width: 400px;
  height: 400px;
  background-color: darkgray;
  grid-template-columns: 100px auto 100px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}
