body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
  height: 300px;
  border-style: solid;
  border-color: red;
  gap: 20px;
}

.box1 {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.box2 {
  width: 50px;
  height: 100px;
  background-color: green;
}

.box3 {
  width: 50px;
  height: 75px;
  background-color: grey;
}

.container1 {
  display: flex;
  align-items: stretch;
}

.container2 {
  display: flex;
  align-items: flex-start;
}

.container3 {
  display: flex;
  align-items: flex-end;
}

.container4 {
  display: flex;
  align-items: center;
}

.container5 {
  display: flex;
  align-items: baseline;
}
