.container {
  width: 500px;
  height: 500px;
  display: flex;
  border: 2px solid black;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  font-size: 24px;
}

.center {
  align-self: center;
}

.flex-end {
  align-self: flex-end;
}

.stretch {
  align-self: stretch;
  height: auto;
}
