* {
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: auto auto auto;
}

header {
  height: 50px;
  background-color: yellow;
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

main {
  background-color: cyan;
  font-size: 18px;
  color: black;
  padding: 10px;
}

aside {
  background-color: lightgreen;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

footer {
  height: 50px;
  background-color: red;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  aside {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
  }

  .sidebar2 {
    display: none;
  }
}
