.container {
  height: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fill, 400px);
  gap: 24px;
}

.item {
  background-color: green;
  font-size: 24px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
