body {
  display: flex;
  justify-content: center;
}

.container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(6, 100px);
  background-color: darkgray;
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}

.uno {
  grid-column: 1/5;
  grid-row: 1/5;
}

.due {
  grid-column: 5/7;
  grid-row: 1/3;
}

.tre {
  grid-column: 7/9;
  grid-row: 1/3;
}

.quattro {
  grid-column: 5/9;
  grid-row: 3/5;
}

.cinque {
  grid-column: 1/3;
  grid-row: 5/7;
}

.sei {
  grid-column: 3/5;
  grid-row: 5/7;
}

.sette {
  grid-column: 5/9;
  grid-row: 5/7;
}
