.container {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(8, 100px);
  grid-template-areas:
    "box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1"
    "box-3 box-3 box-2 box-2 box-2 box-2 box-4 box-4"
    "box-3 box-3 box-2 box-2 box-2 box-2 box-4 box-4"
    "box-3 box-3 box-2 box-2 box-2 box-2 box-4 box-4"
    "box-3 box-3 box-2 box-2 box-2 box-2 box-4 box-4"
    "box-3 box-3 box-2 box-2 box-2 box-2 box-4 box-4"
    "box-3 box-3 box-2 box-2 box-2 box-2 box-4 box-4"
    "box-5 box-5 box-5 box-5 box-5 box-5 box-5 box-5";
}

.item {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}
