body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container {
  width: 100%;
  height: 400px;
  background-color: darkgray;
  display: grid;
}

.uno {
  grid-template-columns: repeat(5, 1fr);
}

.due {
  grid-template-columns: repeat(4, 100px);
}

.tre {
  grid-template-columns: repeat(3, 1fr 2fr);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid black;
}
